# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/
.env

# Android signing
android/key.properties
android/app/keystore.jks

# Firebase (optional but recommended)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.firebase/flutter/firebase.json

# VSCode settings (optional)
.vscode/

# Binary builds
*.apk
*.aab
*.ipa

# Firebase 관련 민감 파일
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# dotenv 환경변수 파일을 쓸 경우
.env